extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project.fadeIn
    .grid-x
      .cell.small-6.medium-9.large-9
        h1 #{ developerName }
        p.lead.text-light
          | Full Stack JavaScript Developer.
        //- Replace the boilerplate below with your Elevator pitch below.
        .portfolio-bio
          p
            | Well hello there, my name is
            span.make_big  Elijah Quesada
            |  and I am a Full Stack JavaScript Developer, with a passion in building web applications as well as solving complex problems with simple elegant solutions. I invite you to take a look at my Github to see what's the latest project I'm working on.
      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Skills
        ul
          each skill in skills
            li= skill
        h6 Contact Info
        ul
          each val in contactInfo
            li= val
        ul
          each val, index in urls
            a.button.expanded(href=`${val}`) #{index}

  nav.grid-container.portfolio-breadcrumb.fadeIn
    a(href='/') ← Back
