extends layout.pug

block content
  nav.grid-container.portfolio-breadcrumb
    a(href='/') ← Back
  article.grid-container.portfolio-intro.portfolio-project
    .grid-x
      .cell.small-6.medium-9.large-9
        h1= selectedProject.project_name

        p.lead.text-light
          | #{selectedProject.description}

      .cell.portfolio-meta.small-6.medium-2.large-3
        h6 Technologies
        ul
         each technology in selectedProject.technologies
           li= technology
        //- Use template literals and interpolation to add URLs to the hrefs below so they link to the repo and the live version of each project.
        if selectedProject.live_link
          a.button.expanded(target='_blank' href=`${selectedProject.live_link}`) Live Demo
        a.button.expanded(target='_blank' href=`${selectedProject.github_link}`) GitHub Repo
    each image in selectedProject.image_urls
      img.image(src= image)
